<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% content_for :title, "Weights" %>
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Weights</h1>
    <%= link_to "New weight", new_weight_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <div id="weights" class="min-w-full">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    <%= render @weights %>
  </div>
</div>
